// BUTTONS COMPONENT //

.btn {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.6rem 5.8rem;
  border-radius: 100px;
  transition: 1s all;

  &__primary {
    background-color: $color-primary;
    color: #fff;

    &:hover {
      background-color: lighten($color-primary, 10%);

      box-shadow: $box-shadow;
    }
  }

  &__outline {
    box-shadow: $box-shadow;
    background-color: #fff;

    &:hover {
      background-color: darken(#fff, 3%);
    }
  }
}

// LIST COMPONENT //

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  line-height: 1.6;

  &__item {
    color: $Very-Pale-Cyan;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    transition: 3s all;
  }
}
